@charset "utf8";

*, *::before, *::after { box-sizing: border-box; }
body { 
    font-family: 'Segoe UI';
    background-color: green;

}

table {
    width: 80%; max-width: 600px ;
    margin: auto; border-collapse: collapse;
}
table, tr, td, th { border: solid 1px black;} 

#container {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    padding: 10px;
}

h1{ 
    text-align: center;
    color: white;
}

p,form {
    color:white;
}
caption {
    color:yellow;
    font-size: 2rem;
}

